/*========== FONTS ==========*/
@font-face {
  font-family: 'Gogh';
  src: url('../fonts/Gogh-ExtraBold.woff2') format('woff2'), url('../fonts/Gogh-ExtraBold.woff') format('woff');
  font-display: swap;
  font-weight: 800;
  font-style: normal;
}

@font-face {
  font-family: 'Raleway';
  src: url('../fonts/Raleway-Regular.woff2') format('woff2'), url('../fonts/Raleway-Regular.woff') format('woff');
  font-display: swap;
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Raleway';
  src: url('../fonts/Raleway-Bold.woff2') format('woff2'), url('../fonts/Raleway-Bold.woff') format('woff');
  font-display: swap;
  font-weight: 700;
  font-style: normal;
}

/*========== VARIABLES ==========*/

:root {
  --font-family: 'Raleway', sans-serif;
  --font-second: 'Gogh', sans-serif;
  --main-gray-black: #030d0d;
  --main-gray-lighter: #e1fafa;
  --main-gray-light: #daf2f2;
  --main-gray-white: #fff;
  --main-gray-dark: #3d4040;
  --main-color1-light: #17e5e5;
  --main-color1-dark: #11a6a6;
  --color1-main: #14cccc;
  --gray-black: #05051a;
}

/*========== BASE ==========*/
*,
::before,
::after {
  box-sizing: border-box;
}

body {
  padding: 0;
}

h1,
h2,
h3,
ul,
p {
  margin: 0;
}

ul {
  padding: 0;
  list-style: none;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}


.list-reset {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.btn-reset {
  padding: 0;
  border: none;
  background-color: transparent;
  cursor: pointer;
}

.flex {
  display: flex;
}

.grid {
  display: grid;
}

.container {
  margin: 0 auto;
  padding: 0 15px;
  max-width: 1450px;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  border: 0;
  clip: rect(0 0 0 0);
}

.btn {
  padding: 14px 20px;
  border-radius: 4px;
  font-family: var(--font-family);
  font-weight: 700;
  font-size: 14px;
  line-height: 150%;
  color: var(--main-gray-white);
  background: var(--color1-main);
  cursor: pointer;
}

.btn:hover,
.accordion__plus:hover {
  background: var(--main-color1-light);
}

.btn:active,
.accordion__plus:active {
  background: var(--main-color1-dark);
}

.link:hover {
  color: var(--main-color1-dark);
}

.link:active {
  background: var(--main-gray-light);
}

.stop-scroll {
  overflow: hidden;
}

.header__wrapper {
  justify-content: space-between;
  align-items: center;
}

.header {
  position: sticky;
  top: 0;
  margin-bottom: 40px;
  padding: 8px 0;
  box-shadow: 0 0 25px 0 rgba(5, 25, 25, 0.08);
  background: var(--main-gray-white);
  z-index: 2;
}

.header__logo {
  position: relative;
  flex-direction: column;
  align-items: center;
  margin-right: auto;
  overflow: hidden;
  cursor: pointer;
}

.header__logo-lp {
  padding: 18px 10px;
  font-family: var(--font-second);
  font-weight: 800;
  font-size: 20px;
  line-height: 100%;
  transition: transform 0.5s ease;
}

.header__logo-link {
  position: absolute;
  top: 80px;
  padding: 18px 42px;
  font-family: var(--font-second);
  font-weight: 800;
  font-size: 20px;
  line-height: 100%;
  color: var(--color1-main);
  transition: top 0.5s ease;
}

.header__logo-link:active {
  color: var(--main-color1-dark);
}

.nav__title {
  display: none;
}

.nav__wrapper {
  align-items: baseline;
}

.nav__list {
  column-gap: 12px;
}

.nav__link {
  padding: 12px 20px;
  border-radius: 0.25rem;
  font-family: var(--font-family);
  font-weight: 700;
  font-size: 16px;
  line-height: 150%;
  color: var(--main-gray-dark);
}

.nav__btn {
  color: var(--main-gray-white);
}

.nav__social {
  display: none;
}

.burger {
  display: none;
}