/*========== FONTS ==========*/
@font-face {
  font-family: 'Gogh';
  src: url('../fonts/Gogh-ExtraBold.woff2') format('woff2'), url('../fonts/Gogh-ExtraBold.woff') format('woff');
  font-display: swap;
  font-weight: 800;
  font-style: normal;
}

@font-face {
  font-family: 'Raleway';
  src: url('../fonts/Raleway-Regular.woff2') format('woff2'), url('../fonts/Raleway-Regular.woff') format('woff');
  font-display: swap;
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Raleway';
  src: url('../fonts/Raleway-Bold.woff2') format('woff2'), url('../fonts/Raleway-Bold.woff') format('woff');
  font-display: swap;
  font-weight: 700;
  font-style: normal;
}

/*========== VARIABLES ==========*/

:root {
  --font-family: 'Raleway', sans-serif;
  --font-second: 'Gogh', sans-serif;
  --main-gray-black: #030d0d;
  --main-gray-lighter: #e1fafa;
  --main-gray-light: #daf2f2;
  --main-gray-white: #fff;
  --main-gray-dark: #3d4040;
  --main-color1-light: #17e5e5;
  --main-color1-dark: #11a6a6;
  --color1-main: #14cccc;
  --gray-black: #05051a;
}

/*========== BASE ==========*/
*,
::before,
::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  padding: 0;
}

h1,
h2,
h3,
ul,
p {
  margin: 0;
}

ul {
  padding: 0;
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

img {
  max-width: 100%;
  border-radius: 8px;
  object-fit: cover;
}


.list-reset {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.btn-reset {
  padding: 0;
  border: none;
  background-color: transparent;
  cursor: pointer;
}

.flex {
  display: flex;
}

.grid {
  display: grid;
}

.container {
  margin: 0 auto;
  padding: 0 15px;
  max-width: 1450px;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  border: 0;
  clip: rect(0 0 0 0);
}

.btn {
  padding: 14px 20px;
  border-radius: 4px;
  font-family: var(--font-family);
  font-weight: 700;
  font-size: 14px;
  line-height: 150%;
  color: var(--main-gray-white);
  background: var(--color1-main);
  cursor: pointer;
}

.btn:hover,
.accordion__plus:hover {
  background: var(--main-color1-light);
}

.btn:active,
.accordion__plus:active {
  background: var(--main-color1-dark);
}

.link:hover {
  color: var(--main-color1-dark);
}

.link:active {
  background: var(--main-gray-light);
}

.stop-scroll {
  overflow: hidden;
}

.header__wrapper {
  justify-content: space-between;
  align-items: center;
}

.header {
  position: sticky;
  top: 0;
  margin-bottom: 40px;
  padding: 8px 0;
  box-shadow: 0 0 25px 0 rgba(5, 25, 25, 0.08);
  background: var(--main-gray-white);
  z-index: 2;
}

.header__logo {
  position: relative;
  flex-direction: column;
  align-items: center;
  margin-right: auto;
  overflow: hidden;
  cursor: pointer;
}

.header__logo-lp {
  padding: 18px 10px;
  font-family: var(--font-second);
  font-weight: 800;
  font-size: 20px;
  line-height: 100%;
  transition: transform 0.5s ease;
}

.header__logo-link {
  position: absolute;
  top: 80px;
  padding: 18px 42px;
  font-family: var(--font-second);
  font-weight: 800;
  font-size: 20px;
  line-height: 100%;
  color: var(--color1-main);
  transition: top 0.5s ease;
}

.header__logo-link:active {
  color: var(--main-color1-dark);
}

.nav__title {
  display: none;
}

.nav__wrapper {
  align-items: baseline;
}

.nav__list {
  column-gap: 12px;
}

.nav__link {
  padding: 12px 20px;
  border-radius: 0.25rem;
  font-family: var(--font-family);
  font-weight: 700;
  font-size: 16px;
  line-height: 150%;
  color: var(--main-gray-dark);
}

.nav__btn {
  color: var(--main-gray-white);
}

.nav__social {
  display: none;
}

.burger {
  display: none;
}

.intro {
  margin-bottom: 120px;
}

.intro__container {
  grid-template-rows: auto;
  grid-template-columns: repeat(2, 1fr);
  align-items: start;
  justify-items: start;
  grid-gap: 20px;
}

.intro__greating {
  padding-top: 80px;
  max-width: 700px;
  width: 100%;
}

.greating__title {
  margin-bottom: 40px;
  font-family: var(--font-second);
  font-weight: 800;
  font-size: 3.5rem;
  line-height: 100%;
  color: var(--gray-black);
}

.greating__title-span {
  color: var(--main-color1-dark);
}

.greating__desc {
  margin-bottom: 60px;
  max-width: 460px;
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 1.25rem;
  line-height: 150%;
  color: var(--main-gray-dark);
}

.greating__show-scroll {
  justify-content: space-between;
  align-items: baseline;
  padding: 40px;
  border-radius: 8px;
  max-width: 504px;
  background: var(--main-gray-black);
}

.show-scroll__text {
  margin-right: 20px;
  font-family: var(--font-second);
  font-weight: 800;
  font-size: 1.25rem;
  color: var(--main-gray-white);
}

.show-scroll__text-span {
  color: var(--color1-main);
}

.intro__pic {
  grid-template-columns: repeat(2, 1fr);
  grid-row: span 2;
  align-items: center;
  align-content: start;
  justify-self: end;
  grid-gap: 20px;
}

.pic__wrapper:nth-child(2) {
  grid-row: span 2;
}

.pic__wrapper {
  width: 100%;
  max-height: 340px;
  min-width: 163px;
  min-height: 163px;
}

.intro__pic-img {
  display: block;
}

.about {
  background: var(--main-gray-lighter);
}

.about__wrapper {
  position: relative;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
}

.about__info {
  max-width: 700px;
  width: 100%;
}

.about__info-container {
  position: sticky;
  top: 112px;
}

.title {
  margin-bottom: 40px;
  font-family: var(--font-second);
  font-weight: 800;
  font-size: 2.5rem;
  line-height: 100%;
  color: #1a1605;
}

.about__learn {
  margin-bottom: 30px;
}


.about__learn,
.about__remind {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 1.25rem;
  line-height: 150%;
  color: var(--main-gray-dark);
}

.about__remind {
  margin-bottom: 80px;
}

.about__condition {
  flex-direction: column;
  row-gap: 20px;
}

.condition__wrapper {
  max-width: 580px;
  padding: 40px;
  border-radius: 8px;
  background: var(--main-gray-black);
}

.condition__text {
  margin-bottom: 20px;
  width: auto;
  font-family: var(--font-second);
  font-weight: 800;
  font-size: 56px;
  line-height: 100%;
  color: var(--main-color1-light);
}

.condition__desc {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  color: var(--main-gray-white);
}

.about__photos {
  display: flex;
  flex-direction: column;
  row-gap: 40px;
  max-width: 700px;
  width: 100%;
}

.photos__wrapper {
  max-width: 700px;
  max-height: 400px;
}

.about__photos-img {
  height: 100%;
}

.about__photos-img:not(:last-child) {
  margin-bottom: 40px;
}

.about,
.carousel__slider,
.gallery,
.answers,
.footer {
  padding: 120px 0;
}

.slider__container {
  margin-left: auto;
  max-width: 1420px;
}

.slider__item {
  border: 2px solid var(--main-gray-light);
  border-radius: 8px;
}

.slider__header {
  justify-content: space-between;
}

.slider__figure {
  position: relative;
  max-width: 340px;
  max-height: 480px;
}

.slider__img {
  height: 480px;
}

.slider__caption {
  position: absolute;
  bottom: 0;
  padding: 12px;
  max-width: 340px;
  width: 100%;
  border-radius: 8px;
  font-family: var(--font-family);
  font-weight: 700;
  font-size: 16px;
  line-height: 150%;
  text-align: center;
  color: var(--main-gray-white);
  background: var(--main-gray-black);
}

.slider__item:hover .slider__caption {
  background: var(--color1-main);
}

.slider__item:active .slider__caption {
  background: var(--main-color1-dark);
}

.slider__item-header {
  position: absolute;
  bottom: 0;
  max-width: 340px;
  width: 100%;
  border-radius: 8px;
  text-align: center;
  background: var(--main-gray-black);
}

.slider__control {
  gap: 20px;
}

.swiper__btn {
  justify-content: center;
  align-items: center;
  border-radius: 8px;
  width: 48px;
  height: 48px;
  box-shadow: 0 0 20px 0 rgba(13, 64, 64, 0.1);
  background: var(--main-gray-white);
  cursor: pointer;
}

.swiper__btn:hover {
  background: var(--main-gray-lighter);
}

.swiper__btn:active {
  background: var(--main-gray-light);
}

.gallery {
  background: var(--main-gray-lighter);
}

.gallery__container {
  flex-wrap: no-wrap;
  align-items: flex-start;
  justify-content: center;
  gap: 20px;
}

.gallery__wrapper {
  min-width: 320px;
}


.gallery__thumbs {
  flex-direction: column;
  flex: 1 1 440px;
  gap: 20px;
  min-width: 320px;
}


.thumbs__slide {
  align-items: center;
  padding: 12px;
  border: 2px solid transparent;
  border-radius: 4px;
  max-height: 72px;
  background: var(--main-gray-white);
  cursor: pointer;
  transition: border-color 0.3s ease;
}

.thumbs__slide:hover {
  border-color: var(--main-gray-light);
}

.active {
  border-color: var(--color1-main);
}

.thumbs__slide:hover {
  border-color: var(--color1-main);
}

.thumbs__img {
  margin-right: 20px;
  width: 48px;
  height: 48px;
}

.thumbs__desc {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 20px;
  line-height: 150%;
  color: var(--main-gray-dark);
}

.answers__title {
  margin-bottom: 60px;
}

.accordion-content {
  cursor: pointer;
  margin-bottom: 20px;
  border-radius: 8px;
  min-width: 320px;
  background: var(--main-gray-lighter);
  overflow: hidden;
}

.accordion-content__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 12px 12px 12px 24px;
}

.accordion-content__title {
  margin-right: 10px;
  font-family: var(--font-family);
  font-weight: 700;
  font-size: 16px;
  color: var(--gray-black);
}

.accordion-content__header:hover .accordion-content__title {
  color: var(--color1-main);
}

.accordion-content__header:active .accordion-content__title {
  color: var(--main-color1-dark);
}

.accordion-content__btn {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 4px;
  width: 48px;
  height: 48px;
  min-width: 48px;
  background: var(--color1-main);
}

.accordion-content__header:hover .accordion-content__btn {
  background: var(--main-color1-light);
}

.accordion-content__header:active .accordion-content__btn {
  background: var(--main-color1-dark);
}

.btn__svg {
  transition: all 0.2s ease;
}

.accordion-content__answer {
  height: 0;
  transition: all 0.2s ease;
}

.answer__text {
  padding: 12px 12px 36px 24px;
  font-size: 16px;
  color: var(--gray-black);
}